.data-wrapper {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 10px;
}
.card-wrap {
  margin: 10px 0;
}
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  margin-top: -50px;
}
.logo {
  display: inline-block;
  width: 64px;
}
.logo img {
  width: 100%;
}